<div class="ui-g">
    <div class="ui-g-0 ui-md-1 ui-xl-2"></div>
    <div class="ui-g-12 ui-md-10 ui-xl-8">
        <div class="buttons">
            <div *ngIf="pageService.username">
                <a class="link" routerLink="/user"><h4 class="user" matTooltip="Click to edit user" matTooltipPosition="before">Logged in as<br />{{ pageService.username }}</h4></a>
            </div>
            <div class="settings">
                <a [disabled]="!pageService.settingsLink" class="button" mat-raised-button color="primary" routerLink="/settings">Settings</a>
            </div>
        </div>
        <h1 *ngIf="!pageService.dashboardLink">{{ pageService.title }}</h1>
        <a class="link" routerLink="/dashboard"><h1 class="fit" *ngIf="pageService.dashboardLink" matTooltip="Click to return to Dashboard" matTooltipPosition="after">{{ pageService.title }}</h1></a>
        <router-outlet></router-outlet>
    </div>
</div>
