// Global styles

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import '_theme.scss';

body {
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
}

h3, h4 {
    font-weight:400;
}

.ui-growl {
    top: 20px !important;
}

.panel-dark > mat-dialog-container {
    background-color: #424242;
    color: white;
}

.mat-dialog-container {
    max-width: 100% !important;
}