.name {
    font-size: 2em;
}

.rowbuttons {
    display: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.environment {
    font-size: 2em;
    position: relative;
    top: 45px;
    cursor: pointer;
}

.chart {
    height: 300px;
}

.mat-row {
    cursor: pointer;

    &:hover {
        background-color: #efefef;
    }
}

.table-header {
    min-height: 64px;

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}