.name {
    font-size: 2em;
}

.rowbuttons {
    display: flex;
    justify-content: space-around;
}

.environment {
    font-size: 2em;
    position: relative;
    top: 45px;
    cursor: pointer;
}

.chart {
    height: 300px;
}

.table-header {
    min-height: 64px;

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}