<?xml version="1.0" encoding="utf-8"?>
<!--
  This tiny "project" allows proxying an IIS site e.g. systemchecker.mbservices.dev to the SystemChecker.Web as running as a windows service
  It uses Application Request Routing to act as a reverse proxy and also handles SSL offload
  Octopus will transform the Port variable below so that it's hosted on and is proxy'd to the same port
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Proxy" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:#{Port}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
