<mat-card>
    <mat-card-content>
        <form [formGroup]="form" novalidate>
            <mat-tab-group [dynamicHeight]="true">
                <mat-tab label="Global">
                    <div formGroupName="global">
                        <h1>Email</h1>
                        <div class="ui-g" formGroupName="email">
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="From" formControlName="from">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Server" formControlName="server">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput type="number" placeholder="Port" formControlName="port">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Username" formControlName="username">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Password" formControlName="password">
                            </mat-form-field>
                            <mat-checkbox class="ui-g-12 ui-lg-4 ui-xl-4" formControlName="tls">TLS</mat-checkbox>
                        </div>
                        <h1>Clickatell</h1>
                        <div class="ui-g" formGroupName="clickatell">
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="API Key" formControlName="apiKey">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="API Url" formControlName="apiUrl">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="From" formControlName="from">
                            </mat-form-field>
                        </div>
                        <h1>Other</h1>
                        <div class="ui-g">
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Authentication Group" formControlName="authenticationGroup">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Slack Token" formControlName="slackToken">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Cleanup Schedule" formControlName="cleanupSchedule">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Url" formControlName="url">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input type="number" matInput placeholder="Result Aggregate Days" formControlName="resultAggregateDays">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input type="number" matInput placeholder="Result Retention Months" formControlName="resultRetentionMonths">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input type="number" matInput placeholder="Login Expire After Days" formControlName="loginExpireAfterDays">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Time zone (Windows or IANA Id)" formControlName="timeZoneId">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Logins">
                    <br />
                    <button mat-raised-button color="primary" (click)="addLogin()">Add new</button>
                    <div formArrayName="logins">
                        <div *ngFor="let control of logins.controls; let i=index" [formGroupName]="i">
                            <mat-form-field class="ui-g-12 ui-lg-4 ui-xl-4">
                                <input matInput placeholder="Username" formControlName="username">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-4">
                                <input type="password" matInput placeholder="Password" formControlName="password">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-3">
                                <input matInput placeholder="Domain" formControlName="domain">
                            </mat-form-field>
                            <div class="ui-g-12 ui-lg-2 ui-xl-1">
                                <button class="full" mat-raised-button color="warn" (click)="deleteLogin(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Connection Strings">
                    <br />
                    <button mat-raised-button color="primary" (click)="addConnString()">Add new</button>
                    <div formArrayName="connStrings">
                        <div *ngFor="let control of connStrings.controls; let i=index" [formGroupName]="i">
                            <mat-form-field class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-2">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2">
                                <mat-select placeholder="Environment" formControlName="environment">
                                    <mat-option [value]="undefined">None</mat-option>
                                    <mat-option *ngFor="let environment of settings.Environments" [value]="environment.ID">{{ environment.Name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-5 ui-xl-7">
                                <input matInput placeholder="Connection String" formControlName="connString">
                            </mat-form-field>
                            <div class="ui-g-12 ui-lg-2 ui-xl-1">
                                <button class="full" mat-raised-button color="warn" (click)="deleteConnString(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Environments">
                    <br />
                    <button mat-raised-button color="primary" (click)="addEnvironment()">Add new</button>
                    <div formArrayName="environments">
                        <div *ngFor="let control of environments.controls; let i=index" [formGroupName]="i">
                            <mat-form-field class="ui-g-12 ui-md-10 ui-xl-11">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <div class="ui-g-12 ui-md-2 ui-xl-1">
                                <button class="full" mat-raised-button color="warn" (click)="deleteEnvironment(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Contacts">
                    <br />
                    <button mat-raised-button color="primary" (click)="addContact()">Add new</button>
                    <div formArrayName="contacts">
                        <div *ngFor="let control of contacts.controls; let i=index" [formGroupName]="i">
                            <mat-form-field class="ui-g-12 ui-md-6 ui-lg-3 ui-xl-2">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-md-4 ui-lg-2">
                                <mat-select (change)="control.controls.value.updateValueAndValidity()" placeholder="Type" formControlName="type">
                                    <mat-option [value]="undefined">None</mat-option>
                                    <mat-option *ngFor="let type of contactTypes" [value]="type.ID">{{ type.Name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="ui-g-12 ui-lg-5 ui-xl-7">
                                <input matInput placeholder="Value" formControlName="value">
                            </mat-form-field>
                            <div class="ui-g-12 ui-lg-2 ui-xl-1">
                                <button class="full" mat-raised-button color="warn" (click)="deleteContact(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Check Groups">
                    <br />
                    <button mat-raised-button color="primary" (click)="addCheckGroup()">Add new</button>
                    <div formArrayName="checkGroups">
                        <div *ngFor="let control of checkGroups.controls; let i=index" [formGroupName]="i">
                            <mat-form-field class="ui-g-12 ui-md-10 ui-xl-11">
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <div class="ui-g-12 ui-md-2 ui-xl-1">
                                <button class="full" mat-raised-button color="warn" (click)="deleteCheckGroup(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
        <!--<pre>{{settings | json}}</pre>-->
        <!--<pre>{{modelToSettings() | json}}</pre>-->
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="back()" [disabled]="saving">Back</button>
        <button mat-raised-button color="primary" (click)="updateForm()" [disabled]="form.pristine || saving">Revert</button>
        <button mat-raised-button color="accent" (click)="save()" [disabled]="form.invalid || form.pristine || saving">Save</button>
    </mat-card-actions>
</mat-card>