.full{
    width:100%;
}

.rowbuttons{
    display:flex;
    justify-content:space-around;
}

.break{
    margin-top:2em;
}

.header{
    margin-top:1em;
    font-size:1.5em;
    padding-left:0px;
    font-weight:lighter;
}